$icon-height: 1.8rem;
$icon-width: 1.8rem;

.icon {
    &::before {
        content: '';
        display: inline-block;
        height: $icon-height;
        width: $icon-width;
        background-color: $black-color;
        -webkit-mask-size: contain;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center center;
    }
    &.invertWhite{
        &::before{
            background-color: $white-color;
        }
    }
}

.icon-cart-shopping-solid {
    &::before {
        -webkit-mask-image: url("../icons/SVG/cart-shopping-solid.svg");
        mask-image: url("../icons/SVG/cart-shopping-solid.svg");
    }
}

.icon-heart-solid {
    &::before {
        -webkit-mask-image: url("../icons/SVG/heart-solid.svg");
        mask-image: url("../icons/SVG/heart-solid.svg");
    }
}

.icon-user-solid {
    &::before {
        -webkit-mask-image: url("../icons/SVG/user-solid.svg");
        mask-image: url("../icons/SVG/user-solid.svg");
        -webkit-mask-size: contain;
    }
}

.icon-facebook-f {
    &::before {
        -webkit-mask-image: url("../icons/SVG/facebook-f.svg");
        mask-image: url("../icons/SVG/facebook-f.svg");
    }
}

.icon-instagram {
    &::before {
        -webkit-mask-image: url("../icons/SVG/instagram.svg");
        mask-image: url("../icons/SVG/instagram.svg");
    }
}

.icon-linkedin-in {
    &::before {
        -webkit-mask-image: url("../icons/SVG/linkedin-in.svg");
        mask-image: url("../icons/SVG/linkedin-in.svg");
    }
}

.icon-x-twitter {
    &::before {
        -webkit-mask-image: url("../icons/SVG/x-twitter.svg");
        mask-image: url("../icons/SVG/x-twitter.svg");
    }
}

.icon-chevron-right-solid {
    &::before {
        -webkit-mask-image: url("../icons/SVG/chevron-right-solid.svg");
        mask-image: url("../icons/SVG/chevron-right-solid.svg");
    }
}

.icon-bars-solid{
    &::before {
        -webkit-mask-image: url("../icons/SVG/bars-solid.svg");
        mask-image: url("../icons/SVG/bars-solid.svg");
    }
}

.icon-xmark-solid{
    &::before {
        -webkit-mask-image: url("../icons/SVG/xmark-solid.svg");
        mask-image: url("../icons/SVG/xmark-solid.svg");
    }
}